<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Trivia Game!</h1>
    <p>This is the homepage.</p>
    <p>
      Data passed from backend: <%= locals.exampleText || "Default data passed"
      %>
    </p>
    <div>
      <form id="create-room-form" action="">
        <label for="create-room-input">Create a Game Room Session: </label>
        <input type="text" name="create-room-input" id="create-room-input" />
        <input type="submit" value="Create" />
      </form>
      <form id="join-room-form" action="">
        <label for="join-room-select"
          >Select a Game Room Session to Join and Play:
        </label>
        <select name="join-room-select" id="join-room-select">
          <option value="room1">Room 1</option>
          <option value="room2">Room 2</option>
          <option value="room2">Room 3</option>
        </select>
        <input type="submit" value="Join and Play" />
      </form>
    </div>
  </body>
</html>
