<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Trivia Game!</h1>
    <div>
      <form id="join-room-form" action="/initialInfo" method="POST">
        <div>
          <label for="user-name-input">Please enter your name: </label>
          <input type="text" name="name" id="user-name-input" required />
        </div>
        <div>
          <label for="join-room-select"
            >Select a Game Room Session to Join and Play:
          </label>
          <select name="room" id="join-room-select" required>
            <option value="Software Engineering">Software Engineering</option>
          </select>
          <input type="submit" value="Join and Play" />
        </div>
      </form>
    </div>
  </body>
</html>
