<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <script defer type="module" src="getHomeURL.js"></script>
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <h1 class="main-heading-1">Trivia Game!</h1>
      <div>
        <form
          id="join-room-form"
          class="form"
          action="/initialInfo"
          method="POST"
        >
          <div class="form-section">
            <div>
              <label class="main-label" for="user-name-input"
                >Enter Your Username:
              </label>
            </div>
            <div>
              <input
                class="input"
                type="text"
                name="name"
                id="user-name-input"
                required
              />
            </div>
          </div>
          <div class="form-section">
            <div>
              <label class="main-label" for="join-room-select"
                >Select a Game Room Session:
              </label>
            </div>

            <div>
              <select class="input" name="room" id="join-room-select" required>
                <option value="Software Engineering">
                  Software Engineering
                </option>
              </select>
            </div>
          </div>
          <div class="form-section">
            <input class="submitHomeFormBtn" type="submit" value="Join" />
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
