<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="client.js"></script>
  </head>
  <body>
    <main class="main main-2">
      <h1 class="main-heading-1">Trivia Game!</h1>
      <div class="game-info">
        <h2>Username: <span id="username"><%= locals.name %></span></h2>
        <h2>
          Opponent: <%= locals.competitor %>
          <span id="playersInRoomList"></span> <span id="players">None</span>
        </h2>
        <h2>Game: <span id="room"> <%= locals.room %> </span></h2>
      </div>
      <!-- <div class="game-info game-info-opponent">
        <h2>
          Opponent: <%= locals.competitor %>
          <span id="playersInRoomList"></span> <span id="players">None</span>
        </h2>
      </div> -->
      <div class="game-info time-score-question">
        <h2>Score:<span id="score"></span></h2>
        <h2>Timer:<span id="timer"></span></h2>
        <h2><span id="question-number"></span>of 6 Questions</h2>
      </div>
      <div id="message-container">
        <ol id="message-list"></ol>
      </div>

      <form id="main-trivia-form-container" class="form2">
        <p id="wait-message">*The Game will start when players have joined.</p>
      </form>
    </main>
  </body>
</html>
