<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="client.js"></script>
  </head>
  <body>
    <h1>Trivia Game</h1>
    <h2>Username: <span id="username"><%= locals.name %></span></h2>
    <h2>Game Room Session: <span id="room"> <%= locals.room %> </span></h2>
    <h2>Players: <%= locals.competitor %></h2>
    <ul id="playersInRoomList"></ul>
    <ul id="players"></ul>
    <div id="message-container">
      <ol id="message-list"></ol>
    </div>
    <form id="main-trivia-form-container">
      <div>
        <p>
          Question:
          <span id="question">
            "Once the quiz starts, here is where the questions will be"
          </span>
        </p>

        <fieldset>
          <legend>Enter Your Answer</legend>
          <div>
            <label for="option1">Option 1</label>
            <input type="radio" id="option1" value="option1" name="options" />
          </div>
          <div>
            <label for="option1">Option 2</label>
            <input type="radio" id="option2" value="option2" name="options" />
          </div>
          <div>
            <label for="option1">Option 3</label>
            <input type="radio" id="option3" value="option3" name="options" />
          </div>
          <div>
            <label for="option1">Option 4</label>
            <input type="radio" id="option4" value="option4" name="options" />
          </div>
        </fieldset>

        <input type="submit" value="Submit Answer" />
      </div>
    </form>
  </body>
</html>
