.game-bg{
    color: #EDEEEE;
    /* border: 2px solid #EDEEEE;
    border-radius: 10px; */
    padding: 20px;
    /* background-color: #EDEEEE; */
    height: fit-content;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.text{
    font-weight: 400 !important;
}
.game-heading {
    font-weight: 700;
}
.game-card{
    /* background-color: #222a3a !important;
    border: 2px solid #222a3a; */
    background-color: #1a202c !important;
    border: 2px solid #1a202c;
    
    border-radius: 20px;
    padding: 20px;
}

.card-body{
    padding: 0;
}
.spinner-container{
    width: 100%;
    height: fit-content;
    text-align: center;
}
/* .bar {
    -webkit-transition: width 30.0s ease !important;
       -moz-transition: width 30.0s ease !important;
         -o-transition: width 30.0s ease !important;
            transition: width 30.0s ease !important;
  } */


